%div{ style: "font-family: Calibri; background-color: white; position: relative; width: 100%; text-align:center; height: auto; margin: 0 auto; padding-bottom: 30px; color: #1c1c1c;" }
  = render "shared/mailer/header"
  %h2{ style: "color: #1c1c1c;" }
    = "Hello #{@resource.email}!"

  %p{ style: "color: #1c1c1c;" }
    = "The password for your KeepSpace account on "
    = link_to root_url.to_s, root_url
    = " has successfully been changed."

  %p{ style: "color: #1c1c1c;" }
    If you did not initiate this change, please contact us immediately.

  = render "shared/mailer/footer"
