%div{ style: "font-family: Calibri; background-color: white; position: relative; width: 100%; text-align:center; height: auto; margin: 0 auto; padding-bottom: 30px; color: #1c1c1c;" }
  = render "shared/mailer/header"

  %h2
    = "Hello #{@resource.email}!"

  %p
    = "Someone, hopefully you, has requested to reset the password for your"
    %br
    = "KeepSpace account on "
    = link_to root_url.to_s, root_url

  %p If you didn't request this, you can safely ignore this email.
  %p Otherwise, click the link below to complete the process.

  = render "shared/mailer/action_link", text: "Change my password", url: edit_password_url(@resource, reset_password_token: @token)

  = render "shared/mailer/footer"
