<%= stylesheet_link_tag 'concerns/d3_tree' %>
<%= javascript_include_tag 'concerns/d3_tree', 'concerns/d3_editor' %>
<%= javascript_include_tag 'shared/input_field_busy' %>
<%= javascript_include_tag 'shared/close_panel', 'shared/tooltip' %>
<%= javascript_include_tag 'studies/versions/study_form_edit_panel' %>
<%= javascript_include_tag 'views/studies/forms/form_edit_view' %>
<%= javascript_include_tag 'studies/forms/property_edit_panel' %>

<%= javascript_tag "var  form_id = '#{@form.id}'" %>
<%= javascript_tag "var  form = JSON.parse('#{@form_hash.to_json}')" %>
<%= javascript_tag "var  last_form_value = '#{@form.name}'" %>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "shared/studies/versions/nav_panel", locals: {show: {form: true, variables: false, variable: false}, title: {form: "Form", variables: "", variable: ""}, view: "form"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default" style="min-height: 300px;">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= render partial: "shared/studies/panel_title", :locals => {title: "Form:", study: @form} %>
          </h3>
        </div>
        <div class="panel-body">
          <div id="spinner_div"><p class="text-center"><img src="<%= asset_path('processing_medium_2.gif') %>"></p></div>
          <div id="detail_div">
            <div class="btn-group" role="group" aria-label="First group">
              <button id="d3_minus" type="button" class="btn btn-primary">
                <i class="fa fa-minus-circle fa-lg fa-fw"></i>
              </button>
              <button id="d3_plus" type="button" class="btn  btn-primary">
                <i class="fa fa-plus-circle fa-lg fa-fw"></i>
              </button>
            </div>
            <div id="d3"> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render partial: "shared/studies/forms/edit_form" %>
    </div>
  </div>
</div>